
*{
    box-sizing: border-box;
}
/* Remove margin and padding from list */
ul {
    margin:0;
    padding:0;
    border-style:double;

}
/* Style list items */
ul li{
    cursor:pointer;
    position:relative;
    padding:12px 8px 12px 40px;
    background: whitesmoke;
    font-size:large;
    transition: 0.3s;

/* Make list items unselectable*/
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

/* Set add list items to be different color */
ul li:nth-child(even) {
    background-color: lightblue;
}
/* Set background to darker color on hover */
ul li:hover {
    background: silver;
}

/* Add visual changes for completed tasks */
ul li.done {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

ul li.done::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/*  */

